
/* colors */ 

:root {
    --darkest: #1D2D44;
    --dark: #3E5C76;
    --text: #F0EBD8;
    --accent: #748CAB;
}

body {
    font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
}

/*background image*/

html {
    background: url(./background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
}

p {
    color: var(--text);
    font-size: 20px;
}

.text {
    color: var(--text);
    font-size:20px;
}

/* outer div */ /*outer container */

.outer-div {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}    

/* high score button*/

button {
    background-color: var(--dark);
    color: var(--text);
    font-size: 20px;
    outline: none;
    border-radius: 8px;

}

button:hover{
    color: var(--accent);
}

/*timer*/

.top-bar p {
    float: right;
}

/* inner-div section */

.inner-div {
    border: solid 1px var(--dark);
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
}

/* header & quiz intro */

header {
    display: block;
}
.quiz-intro main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    opacity: 75%;
}

header p {
    font-size: 20px;
}

.start-button {
    display: block;
    margin: 0 auto;
}

/* quiz content */ 

/* #main {
    display: none;
} */

/* questions */
 /* #questions-page {
    display: none;
 } */

  .questions h2 {
    color: var(--accent);
}


/* quiz end*/

.end-of-quiz {
    display: none;
}

.end-of-quiz h2 {
    color: var(--accent);
}


.end-of-quiz form {
    font-size: 20px;
    color: var(--dark);
}

.end-of-quiz input {
    opacity: 15%;
    color:var(--accent);
    
}
